!!!
/[if lt IE 7 ] <html class="ie6" lang="en">
/[if IE 7 ]    <html class="ie7" lang="en">
/[if IE 8 ]    <html class="ie8" lang="en">
/[if IE 9 ]    <html class="ie9" lang="en">
%html{"ng-app" => "MaxmediaApp"}

  %head
    :Asseturl
      %link{:href => "normalize.css", :rel => "stylesheet", :type => "text/css"}
    :Asseturl
      %link{:href => "app.css", :rel => "stylesheet", :type => "text/css"}
    = yield :title

  %body
    = yield

    :Asseturl
      %script{:src => "main.js"}
    %script
      //Initialize Foundation
      $(document).foundation();