%ul
  %li
    %a{:href => "http://mixture.io/"}
      Mixture
  %li
    %a{:href => "http://haml.info/"}
      Haml documentation
  %li
    %a{:href => "http://docs.mixture.io/templates#haml"}
      Mixture Haml documentation
  %li
    %a{:href => "http://angularjs.org/"}
      AngularJS
  %li
    %a{:href => "http://modernizr.com/"}
      Modernizr
  %li
    %a{:href => "http://foundation.zurb.com/"}
      Foundation
  %li
    %a{:href => "http://jquery.com/"}
      JQuery