%ul
  %li
    %a{:href => "http://haml.info/"}
      Haml documentation
  %li
    %a{:href => "http://docs.mixture.io/templates#haml"}
      Mixture documentation
  %li
    %a{:href => "http://angularjs.org/"}
      AngularJS