.row
  .large-4.columns
    %h3 Angular Example
    %div
      %label Name:
      %input{"ng-model" => "yourName1", :placeholder => "Enter a name here", :type => "text"}/
      %hr
      %h1 Hello {{yourName1}}!