=layout :layout
-content_for :title do
  %title Mixture + SASS + Haml

.row
  .large-12.columns
    %h2
      Mixture Boilerplate
      %small Sass + Haml + Angular
.row
  .large-8.columns
    %p This is a boilerplate for the Mixture site generation tool. It is pre-loaded with Haml and Sass for easy to read, quickly written HTML and CSS, and integrated with AngularJS for quickly defined dynamic data. Also included are Modernizr, Foundation, and JQuery.
    =render :links

.row
  .large-8.columns
    %div.section-container.tabs{:data => {"section" => "tabs"}}
      %section
        %p.title{:data => {:section_title => ""}}
          %a{:href => "#mixJson"} Mixture JSON Syntax
        %div.content{:data => {:section_content => ""}}
          =render :mixture_json_syntax
      %section
        %p.title{:data => {:section_title => ""}}
          %a{:href => "#angJS"}
            AngularJS
        %div.content{:data => {:section_content => ""}}
          =render :ng_hello
