=layout :layout
-content_for :title do
  %title Mixture + SASS + Haml

.row
  .large-12.columns
    %h2
      Mixture Boilerplate
      %small Sass + Haml + Angular
.row
  .large-8.columns
    %h3 Documentation Name
    %p Documentation information on the boilerplate might go here. Info on where to use Sass + Haml + Angular together. This info may be in the README as well, or it could be here for an initial boiler plate introduction.
    =render :links
=render :ng_hello